.red {
  color: red;
}

.detect_img {
  width: 10%;
  height: 10%;
  border: 1px solid #808080;
}


.logo_container {
  margin-top:50px;
}

.detail_container {
  background-color:#dcdcdc;
  padding:5px; width:200px;
  border:1px solid #a9a9a9;
}
