{% extends "layout.html" %}
{% block content %}
<!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p style="margin-left:15px;">
        絵画好きのAIが画像から画家を判定します。
        </p>
        {% if file_path %}
        <h2 style="margin-left:10px;">AI「これは{{result_score[h_indexes[0]]*100}}%の確率で{{artistname[h_indexes[0]]}}の絵です。」
        </h2>
        <div class="col-md-5">
          <p>
          <img src="{{file_path}}" class="detect_img">
          </p>
        </div>
        <div class="col-md-5">
          <p class="detail_container">
            {{artistname[h_indexes[0]]}}の確率が{{result_score[h_indexes[0]]*100}}%<br>
            {{artistname[h_indexes[1]]}}の確率が{{result_score[h_indexes[1]]*100}}%<br>
            {{artistname[h_indexes[2]]}}の確率が{{result_score[h_indexes[2]]*100}}%<br>
          </p>
        </div>
        {% endif %}
        <h3>画像をアップロードしてください</h3>
      </div>
      <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">
        <form action="/post" method="post" class="form-inline" enctype="multipart/form-data">
          <input type="file" name="file" />
          <button type="submit" class="btn btn-outline-primary" style="margin-top:5px;">判定開始</button>
        </form>
      </div>
      <div class="col-md-12">
        <div style="font-size:7px" align="left">
          AIが知っている画家一覧<br>
          <!-- ・Claude_Monet ・Henri_Matisse<br>
          ・Salvador_Dali ・Gustav_Klimt<br>
          ・Caravaggio<br> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
